@page
@model SeminarManagement_PRN221.Pages.Events.JoinModel
@{
}
<section class="bg-dark py-5 px-4">
    <div class="row">
        <!-- Image column -->
        <div class="col-md-7">
            <img src="https://img.freepik.com/premium-photo/speaker-giving-talk-scientific-conference-audience-conference-hall-business-entrepreneurship-concept_561846-238.jpg" class="img-fluid rounded-start" alt="Event Image">
        </div>
        <!-- Event details and form column -->
        <div class="col-md-5">
            <div class="px-4 text-white">
                <div class="mb-2">
                    @if (DateTime.Now < Model.Event.StartDate)
                    {
                        <span class="badge bg-primary">Future</span>
                    }
                    else if (DateTime.Now >= Model.Event.StartDate && DateTime.Now <= Model.Event.EndDate)
                    {
                        <span class="badge bg-success">Open</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Closed</span>
                    }
                </div>
                <h2 class="mb-4">@Model.Event.EventName</h2>
                <div class="d-flex flex-row mb-2">
                    <i class="bi bi-calendar-minus-fill text-maingreeen"></i>
                    <div class="ms-2">
                        @Model.Event.StartDate?.ToString("dd/MM/yyyy HH:mm") - @Model.Event.EndDate?.ToString("dd/MM/yyyy HH:mm")
                    </div>
                </div>
                <div class="text-maingreeen fw-bold d-flex flex-row mb-2">Event Code:<span class="text-white ms-2">@Model.Event.EventCode</span></div>
                <div class="text-maingreeen fw-bold d-flex flex-row mb-2">
                    Fee:
                    @if (Model.Event.Fee > 0)
                    {
                        <span class="text-white ms-2">@string.Format("{0:N0}", @Model.Event.Fee) VND</span>
                    }
                    else
                    {
                        <span class="text-white ms-2">FREE</span>
                    }
                </div>

                <div class="text-maingreeen fw-bold d-flex flex-row mb-2">
                    Tickets Remaining:
                    <span class="text-white ms-2">@Model.Event.NumberOfTickets</span>
                </div>

                <!-- Form for payment -->
                <form method="post" class="mt-4">
                    <div class="row">
                        <div id="error-message" class="text-danger" style="display: none;"></div>
                        <div class="col-md-6">
                            <div class="mb-3 d-flex justify-content-between">
                                <div class="input-group">
                                    <button type="button" class="btn btn-warning" onclick="changeQuantity(-1)">-</button>
                                    <input id="quantity" type="text" name="quantity" value="@Model.Quantity" min="1" max="@Model.MaxQuantity" class="text-md-center form-control" onchange="setQuantityText()" />
                                    <button type="button" class="btn btn-warning" onclick="changeQuantity(1)">+</button>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="mb-3 d-flex justify-content-between">
                                <label for="fee" class="form-label text-maingreeen fw-bold">Subtotal</label>
                                <span>@string.Format("{0:N0}", @Model.Event.Fee) VND</span>
                                <input type="hidden" id="fee" name="fee" value="@Model.Event.Fee">
                            </div>
                            <div class="mb-3">
                                @if (Model.Wallet != null)
                                {
                                    <input type="hidden" name="walletId" value="@Model.Wallet.WalletId" />
                                    <input type="hidden" name="balance" value="@Model.Wallet.Balance" />
                                    @if (Model.TransactionExist != null)
                                    {
                                        <button type="submit" class="btn btn-button w-100" disabled>Next</button>
                                        <span class="text-danger">You have already joined this event.</span>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-button w-100" id="btnNext">Next</button>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-button w-100" asp-area="Identity" asp-page="/Account/Login">Next</a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        function changeQuantity(change) {
            var quantityInput = document.getElementById("quantity");
            var currentQuantity = parseInt(quantityInput.value);
            var maxQuantity = @Model.MaxQuantity;
            var newQuantity = currentQuantity + change;
            if (newQuantity <= 0) {
                newQuantity = currentQuantity;
            }

            if (newQuantity > maxQuantity) {
                newQuantity = currentQuantity;
                document.getElementById("increase-btn").ariaDisabled;
            }

            console.log(newQuantity);
            quantityInput.value = newQuantity;
        }

        function setQuantityText() {
            var quantityInput = document.getElementById("quantity");
            var errorMessage = document.getElementById("error-message");
            var currentQuantity = parseInt(quantityInput.value);
            var maxQuantity = @Model.MaxQuantity;

            if (currentQuantity > maxQuantity) {
                quantityInput.value = maxQuantity; // Set the quantity to maxQuantity
                errorMessage.textContent = `Quantity cannot exceed ${maxQuantity}.`;
                errorMessage.style.display = "block";
            } else if (currentQuantity < 1) {
                quantityInput.value = 1; // Ensure the quantity does not go below 1
                errorMessage.textContent = "Quantity cannot be less than 1.";
                errorMessage.style.display = "block";
            } else {
                errorMessage.style.display = "none"; // Hide error message if quantity is within the valid range
            }
        }
    </script>
}
