<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Seminar Organization</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/site.css" rel="stylesheet" />
    <!-- Include jQuery before other scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <!-- Sponsorship modal-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1hb8J2G5VO+9k5Cl5G8m5eZd4fEMc77tM/Zsl2" crossorigin="anonymous">
    <style>
        .navbar-custom {
            background-color: rgb(45, 194, 117);
        }

        .btn-register {
            background-color: white;
            color: black
        }

            .btn-register:hover {
                background-color: rgb(45, 194, 117);
                color: white;
            }

        .btn-button {
            background-color: rgb(45, 194, 117);
            color: white;
        }

            .btn-button:hover {
                background-color: mediumseagreen;
            }

        .text-maingreeen {
            color: rgb(45, 194, 117);
        }

        .bg-banner {
            background-image: url('../assets/img/pexels-oleksandr-tiupa-53788-192136.jpg'); /* Replace with your image path */
            background-size: cover; /* Ensures the image covers the entire container */
            background-position: center; /* Centers the image in the container */
            background-repeat: no-repeat; /* Prevents the image from repeating */
        }

        .bg-backgroundimage {
            background-image: url('../assets/img/d2pl17g-c1c2bfd1-f4fe-4e7f-86c1-0200d6af0fb4.jpg'); /* Replace with your image path */
            background-size: cover; /* Ensures the image covers the entire container */
            background-position: center; /* Centers the image in the container */
            background-repeat: no-repeat; /* Prevents the image from repeating */
        }

        .banner-height {
            height: 480px;
        }
    </style>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light navbar-custom static-top">
        <div class="container">
            <a class="navbar-brand text-white fw-bold" asp-area="" asp-page="/Index">Seminar Organization</a>
            <div class="d-flex align-items-center">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Operator"))
                    {
                        <div class="nav-item dropdown me-3">
                            <a class="fw-bold text-white text-decoration-none dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                                <a />
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/AdminDashboard/Index">
                                            <i class="bi bi-bar-chart-line-fill me-1" style="width:24px; height:24px"></i>Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Admin/Manage-Account/Manage">
                                            <i class="bi bi-people-fill me-1" style="width:24px; height:24px"></i>Manage Account
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Admin/Manage-Event/Manage">
                                            <i class="bi bi-calendar2-heart me-1" style="width:24px; height:24px"></i>Manage Event
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Index">Home</a></li>
                                </ul>
                        </div>
                    }
                    else if (User.IsInRole("CheckingStaff"))
                    {
                        <a class="nav-link text-white fw-bold me-3" asp-page="/CheckingStaffWorkspace/Index">Checking Staff</a>
                    }
                    else if (User.IsInRole("Sponsor"))
                    {
                        <a class="nav-link text-white fw-bold me-3" asp-page="/UserRole/InvitationForSponsor">Sponsor</a>
                    }

                    <div class="nav-item dropdown">
                        <a class="fw-bold text-white text-decoration-none dropdown-toggle d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle me-1" style="width:24px; height: 24px"></i>
                            @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-page="/Account/UpdateProfile">
                                    <i class="bi bi-person-check-fill me-1" style="width:24px; height:24px"></i>Update Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-page="/Account/Wallet" asp-route-username="@User.Identity.Name">
                                    <i class="bi bi-wallet2 me-1" style="width:24px; height:24px"></i>Wallet
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-page="/Account/Orders" asp-route-username="@User.Identity.Name">
                                    <i class="bi bi-box2-heart" style="width:24px; height:24px"></i>
                                    My Orders
                                </a>
                            </li>
                            <li>
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" class="d-inline text-white fw-bold">
                                    <button type="submit" class="dropdown-item bg-danger-700 bg-gradient">
                                        <i class="bi bi-box-arrow-left me-1" style="width:24px; height:24px"></i>Log Out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="fw-bold text-white text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    <span class="text-white fw-bold mx-2">|</span>
                    <a class="fw-bold text-white text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                }
            </div>
        </div>
    </nav>

    <main role="main" class="my-0">
        @RenderBody()
    </main>

    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!" class="text-success text-decoration-none">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!" class="text-success text-decoration-none">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!" class="text-success text-decoration-none">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!" class="text-success text-decoration-none">Privacy Policy</a></li>
                    </ul>
                    <p class="text-success small mb-4 mb-lg-0">&copy; Seminar Organization 2024. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!" class="text-success"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!" class="text-success"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-success"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-o+FNb+AMO3ay5t4LWHSy4zLD4Ff6kzN0g3b/PtEX/A1zEZOzXl90QpqfH/tZtLhz" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <!-- SB Forms JS-->
    <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/seminarHub")
                .build();

            connection.on("ReceiveTicketUpdate", function (message) {
                console.log(message);
                if (message === "out_of_tickets") {
                    alert("Tickets are sold out. You will be redirected to the home page.");
                    window.location.href = "/";
                }
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });
        });
    </script>

</body>
</html>
